<section id="navigation-bar">

	<!-- Nav Bar -->

	<nav class="navbar navbar-expand-lg navbar-dark">
		<a class="navbar-brand" href="/home">
			Bug Tracker
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
			<span class="navbar-toggler-icon"></span>
		</button>

