<nav class="navbar navbar-light bg-none">
	<div></div>
	<form action="/dashboard/search" class="form-inline" method="POST">
		<input class="form-control mr-sm-2 mx-auto order-0" type="search" placeholder="Ticket Search" name="ticketSearchId" aria-label="Search" autocomplete="off">
		<button class="btn btn-outline-success my-2 my-sm-0 active" type="submit"><i class="fas fa-search"></i></button>
	</form>
	<div></div>
</nav>