<%- include("partials/navbar") -%>

<section id="new-creation-page">
    <div class="container custom-form">
        <form action="/dashboard/BG/create-new" method="POST">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputIssueName">Issue Name</label>
                    <input type="text" class="form-control" id="inputIssueName" name="issue_name" placeholder="E.g. Integeration Error, Table View Error." required>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputProjectId">Project ID</label>
                    <select id="inputProjectId" class="form-control" name="project_id" searchable="Search here..">
                        <option selected disabled>Choose...</option>
                        <% projects.forEach(project => { %>
                        <option value="<%= project.id %>">PR<%= project.id %> | <span><%= project.project_name %></span></option>
                        <% }) %>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPriority">Priority</label>
                    <select id="inputPriority" class="form-control" name="priority">
                        <option selected disabled>Choose...</option>
                        <option>High</option>
                        <option>Medium</option>
                        <option>Low</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputIssueDescription">Description</label>
                <textarea class="form-control" id="inputIssueDescription" name="issue_description" required></textarea>
            </div>

            <button type="submit" class="btn btn-light">Submit Issue</button>
        </form>
    </div>
</section>