<%- include("partials/navbar") -%>

<section id="new-creation-page">
    <div class="container custom-form">
        <form action="/dashboard/BG/create-new" method="POST">
            <div class="form-row">
                <div class="form-group col">
                    <label for="inputProjectName">Project Name</label>
                    <input type="text" class="form-control" id="inputProjectName" name="project_name" placeholder="E.g. Integeration Error, Table View Ratio Error." required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputprojectDescription">Description</label>
                <textarea class="form-control" id="inputprojectDescription" name="project_description" required></textarea>
            </div>

            <button type="submit" class="btn btn-light">Submit project</button>
        </form>
    </div>
</section>