body {
	font-family: 'Montserrat', sans-serif;
}

.main-section {
	height: auto;
	color: #19456b;
	padding: 2rem 2rem 2rem;
	margin-top: 2rem;
	max-width: 597px;
}

.image {
	color: black;
}

.main-heading {
	font-family: 'Hachi Maru Pop', cursive;
	font-size: 3.5rem;
	font-weight: bold;
	padding: 2rem 0;
}

.custom-margin {
	margin: 2rem 0;
}

.btn {
	color: white;
	background-color: #11698e;
}

.form-control:focus {
	border-color: #16c79a;
	box-shadow: inset 0 1px 1px #16c79a, 0 1px 1px #16c79a;
}

#footer {
	margin-top : 100px;
	text-align: center;
	color: #222831;
}

.social-icon {
	margin: 20px 7px;
	color: black;
}